.header{
    background-color: red;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    font-weight:bold;

}
.logo{
  width: 30px;
  height: 25px;
  display: flex;
  margin-top: 15px;
  background-color: white;
  border-radius: 50%;
  border-color: white;
}