body{
    margin: 0;  
}
.card{
    width: 350px;
    background-color:beige;
    border-color: black;
    border-width: 3px;
}
.text{
    display: flex;
    margin-left: 10%;
}

.catImage{
    
  border-radius: 5px;
  margin: 70px;
  margin-bottom: 0px;
  margin-top: 3px;
}
.mail{
    display: flex;
    margin: 10px;
}
.phoneNo{
    display: flex;
    border-radius: 50%;
    margin: 10px;
}
.phoneNo img{
    width: 20px;
    height: 20px;
}
.mail img{
    width: 20px;
    height: 20px;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}