body{
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
}

h1{
  margin-top: 30px;
}
.img{
  border-radius: 50%;
}
.header nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: black;
   height: 90px;
}
.nav-list{
  list-style: none;
  display: flex;
  
}
.nav-list-item{
  margin-left: 10px;
  font-size:1.1rem;
}
.footer{
  text-align: center;
  background-color: black;
  margin-top: 20%;
  height: 30px;
}
